<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Science Summarizer - intellMed | Medical Research Automation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Welcome to intellMed Science Summarizer — a system that automates the summarization and extraction of critical PICO information from medical publications."
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
  </head>

  <body>
    <div class="home">
      <!-- Home Background Image -->
      <img
        src="{{ url_for('static', filename='images/images/img_vector_home.png') }}"
        alt="Vector Home"
        class="home__image"
      />

      <div class="content container-md">
        <!-- Header Section -->
        <header class="header">
          <div class="header__top-row">
            <div class="header__top-row__group">
              
              <a href="{{ url_for('home_page') }}">
                <img src="{{ url_for('static', filename='images/images/img_header_logo.png') }}" alt="Header Logo" class="header__logo" />
              </a>


              <div class="header__nav">
                <div class="header__nav__item">
                  <ul class="header__nav__menu">
                    <li>
                      <a href="{{ url_for('home_page') }}">
                        <p class="header__nav__menu-item ui text size-texts">Home Page</p>
                      </a>
                    </li>
                    <li>
                      <a  href="{{ url_for('aboutus_page') }}" target="_blank">
                        <p class="ui text size-texts">About Us</p>
                      </a>
                    </li>
                    <li>
                      <a href="{{ url_for('login_page') }}">
                        <p class="ui text size-texts">Login</p>
                      </a>
                    </li>
                    <li>
                      <a href="{{ url_for('signin_page') }}">
                        <p class="ui text size-texts">Sign Up</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <a href= "mailto:IntellMedExtractor@outlook.com" >
            <img src="{{ url_for('static', filename='images/images/img_group.svg') }}" alt="Send Email">
          </a>
        </header>

        <!-- Main Content -->
        <div class="content__main">
          <div class="content__description">
            <div class="content__welcome">
              <h1 class="content__welcome-text ui heading size-text3xl">Welcome to</h1>
              <img src="{{ url_for('static', filename='images/images/img_logo_b.png') }}" alt="Logo B" class="content__logo" />
            </div>

            <h2 class="content__tagline ui heading size-headingmd">
              A system that automates summarization and PICO extraction from medical research papers
            </h2>
          </div>

          <!-- Footer -->
          <h3 class="ui heading size-headingxs">All rights saved to @intellMed Extractor</h3>
        
      </div>
    </div>
  </body>
</html>
